*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 375px;
  margin: auto;
}

.StatusBar{
  display: block;
  width: 375px;
  height: auto;
}

header {
  width: 375px;
  height: 44px;
  background-color: #00DE3D;
  mix-blend-mode: normal;
  border: 50px;
}

.arrow-left {
    /* left arrow icon */
  float: left;
  font-size: 11px;
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
}

.column-b {
    /* Bus Station Info */
  display: inline-block;
  font-family: 'Scada', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 90px;
}

.star-right {
  /* star icon */
  float: right;
  font-size: 9px;
  margin-top: 8px;
  margin-right: 10px;
}

.Map {
  display: block;
  width: 375px;
  height: auto;
}

.h2 {
  font-family: 'Scada', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  color: #444444;
}

.h3 {
  font-family: 'Scada', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-right: 10px;
  line-height: normal;
  color: #444444;
}

.h4 {
  font-family: 'Scada', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-right: 10px;
  line-height: 26px;;
  color: #444444;
}

.p1 {
  font-family: 'Scada', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  color: #00DE3D;
}

.p {
  font-family: 'Scada', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-right: 10px;
  line-height: normal;
  text-align: right;
}

.p2 {
  font-family: 'Scada', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  color: #FF2D55;
}

.information {
  width: 375px;
  height: 60px;
  border-top: 1px solid gray;
}

.information ul {
 display: inline-block;
 padding-top: 2px;
 padding-left: 2px;
}

.column-left {
  /* Bus Route Number */
  float: left;
  margin: 7px;
  background-color: #D94169;
  border-radius: 10px;
  font-family: 'Scada', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 24px;
  line-height: 43px;
  text-align: center;
  width: 49px;
  height: 46px;
}

.column-center {
  /* Bus Route Direction & Status */
  margin-top: 7px;
  margin-left: 3px;
  width: 60%;
  height: 30px;
  font-family: 'Scada', sans-serif;
  line-height: 20px;
  font-size: 20px;
}

.column-right {
  /* Bus Arrival time */
  float: center;
  width: 20%;
  height: 30px;
  margin-top: 7px;
  margin-left: 2px;
  font-family: 'Scada', sans-serif;
  text-align: right;
}
